#root {
  max-width: 100%;
  text-align: center;
  background-color: black;
  font: 16px / 24px Arial, Verdana, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
}

.launchlist-grid-container {
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  align-items: flex-end;
}

.container-launch{
  padding: 30px;
  width: 100vw;
  min-height: 100vh;
  text-align: left;
}

.heading-i{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.l-i{
  border: 1px solid white ;
  padding: 30px;
}

.expand-more-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 197vh;
  z-index: 1;
}

.page-button {
  background: transparent !important;
  border: 1px solid white !important;
}

.pagination-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
}

.prev-button {
  margin-right: 25px !important;
  width: 100px
}

.next-button {
  width: 100px;
}

.app {
  padding-top: 64px;
}

.launch-table-wrapper {
height: calc(100vh - 122.5px);
overflow-y: auto;
}

.hide-button{
  visibility: hidden;
}

.cc-symbol {
 display: flex;
 align-items: center;
 justify-content: center;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.footer h1{
  font-size: 35px;
}

.social-links-dev{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 20px;
  row-gap: 10px;
}
.logg{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}
.summ{
  width: 350px;
}
.social-links-dev a{
  text-decoration: none;
  color: white;
}
.social-links-dev a:hover{
  text-decoration: underline;
  font-size: 18px;
  color: blue;
}